.nav {
	width: 17%;
	height: 100vh;
    left: 0;
    top: 0;
	border-right: 2px solid #105807;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: fixed;

    background-color: rgb(202, 230, 199);
}

.img-cnt{
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-bottom: 2px solid #105807;
    height: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.logo {
    margin-top: 10%;
    margin-bottom: 10%;
}

.logo-name {
    padding-top: 30%;
    font-size: 140%;
    font-weight: 800;
    color: #105807;
}

.nav nav {
    display: flex;
	flex-direction: column;
	position: absolute;
    top: 22%;
    margin-left: 15%;
}

.nav a{
    margin-top: 10%;
    font-weight: 500;
    color: #105807;
    font-size: 1.1em;
    text-decoration: none;
    border-bottom: 2px solid #105807;
}

.nav a:hover{
    color: #58d447;
    border-bottom: 3px solid #58d447;
}

.sys-info{
    bottom: 2%;
    height: 7%;
}

.long-name{
    margin-left: 22%;
    color: #105807;
}

.short-name{
    margin-top: 3%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #105807;
}

main{
    padding-right: 1%;
    margin-right: 0%;
    width: 80%;
    float: right;
}

h1{
    margin-left: 15%;
    color: #105807;
}

hr{
    color:  #105807;
}

.description-cnt{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 7%;
    margin-right: 7%;
    border: 2px solid #105807;
    border-radius: 30%;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
    padding-right: 8%;
}

.description{
    text-align: justify;
    font-size: 1.1em;
    color: #33692c;
}

.functional{
    padding-left: 7%;
}

.functional h2{
    margin-left: 32%;
    margin-bottom: 2%;
}

li{
    font-size: 1.1em;
}